<div class="h-full w-full bg-gray-50 flex justify-center rounded-xl p-5">
  <div class="w-full max-w-4xl">
    <div class="pb-1 pl-2">
      <h1 class="text-3xl font-semibold text-gray-900">Workspace settings</h1>
      <p class="text-sm text-muted-foreground mt-1">
        Manage your workspace details and preferences
      </p>
    </div>

    <div
      class="bg-white rounded-xl border p-6 space-y-3"
      [formGroup]="settingForm"
      (ngSubmit)="handleSetting()"
    >
      <h2 class="text-lg font-medium">Workspace icon</h2>

      <div class="flex items-center gap-6">
        <z-avatar
          zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg"
          zAlt="Workspace Avatar"
          zSize="xl"
          zShape="rounded"
          class="cursor-pointer"
          (click)="fileInput.click()"
        />
        <div class="flex flex-col gap-1">
          <p class="text-sm text-muted-foreground">Click the icon to upload a new image</p>
          <p class="text-xs text-muted-foreground">PNG, JPG up to 2MB</p>
        </div>
        <input #fileInput type="file" hidden />
      </div>

      <h2 class="text-lg font-medium">Workspace information</h2>

      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium">Workspace name</label>
        <input
          z-input
          type="text"
          zSize="lg"
          value="My workspace"
          formControlName="workspaceName"
          placeholder="Enter workspace name"
        />
      </div>
      @if (settingForm.get('workspaceName')?.touched && settingForm.get('workspaceName')?.invalid) {
        @if (settingForm.get('workspaceName')?.errors?.['required']) {
          <span class="text-destructive"> workspace name is required</span>
        } @else if (
          settingForm.get('workspaceName')?.errors?.['minlength'] ||
          settingForm.get('workspaceName')?.errors?.['maxlength']
        ) {
          <span class="text-destructive">name can be of 2-50 characters</span>
        }
      }

      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium">Workspace description</label>
        <textarea
          z-input
          rows="3"
          placeholder="Briefly describe your workspace"
          formControlName="workspaceDescription"
          class="resize-none"
        ></textarea>
      </div>

      @if (settingForm.get('workspaceDescription')?.errors?.['maxlength']) {
        <span class="text-destructive">description can be of 255 characters</span>
      }
      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium">Invite code</label>
        <div class="relative">
          <div class="absolute inset-0 z-0 rounded-md border bg-white"></div>

          <span
            class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 text-sm pointer-events-none z-10"
          >
            https://teamsync.com/invite/
          </span>

          <input
            z-input
            type="text"
            zSize="lg"
            class="relative z-20 bg-transparent pl-40 text-gray-500 text-sm"
            formControlName="workspaceInvite"
            value="abc"
          />
        </div>
      </div>
      @if (
        settingForm.get('workspaceInvite')?.touched && settingForm.get('workspaceInvite')?.invalid
      ) {
        @if (settingForm.get('workspaceInvite')?.errors?.['required']) {
          <span class="text-destructive"> workspace invite is required</span>
        } @else if (
          settingForm.get('workspaceInvite')?.errors?.['minlength'] ||
          settingForm.get('workspaceInvite')?.errors?.['maxlength']
        ) {
          <span class="text-destructive">Invite can be of 3to 10 characters</span>
        }
      }

      <div class="flex justify-end gap-3">
        <button type="submit" z-button zType="default" class="">Update workspace</button>
        <button z-button zType="destructive">Delete workspace</button>
      </div>
    </div>
  </div>
</div>
