<form [formGroup]="createWorkspace" class="flex flex-col">
  <label for="" class="pb-2 pt-1">Workspace name</label>
  <input
    z-input
    type="text"
    placeholder="Name of workspace"
    formControlName="workspaceName"
    zSize="lg"
    class="text-secondary-foreground text-sm"
  />
  @if (
    createWorkspace.get('workspaceName')?.touched && createWorkspace.get('workspaceName')?.invalid
  ) {
    @if (createWorkspace.get('workspaceName')?.errors?.['required']) {
      <span class="text-destructive"> workspace name is required</span>
    } @else if (
      createWorkspace.get('workspaceName')?.errors?.['minlength'] ||
      createWorkspace.get('workspaceName')?.errors?.['maxlength']
    ) {
      <span class="text-destructive">name can be of 2-50 characters</span>
    }
  }
  <label for="" class="pb-2 pt-2">Description</label>
  <textarea
    z-input
    rows="5"
    placeholder="Description of workspace"
    formControlName="description"
    class="w-full text-secondary-foreground"
  ></textarea>
</form>
