<div class="flex flex-col items-center justify-center w-full h-full p-3">
  <div class="flex flex-col items-center justify-center">
    <h1 class="font-sans text-2xl font-bold">Join Team Sync</h1>
    <p class="text-sm text-gray-400">Create your Team Sync account</p>
  </div>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="handleRegister()"
    class="flex flex-col justify-center w-3/4 p-3 h-5/6 text-primary"
  >
    <!-- Name -->
    <label for="" class="pb-2 pt-2 text-sm text-gray-400">Name</label>
    <div class="relative w-full">
      <z-icon
        zType="user"
        class="absolute text-gray-400 -translate-y-1/2 pointer-events-none left-1 top-1/2"
      ></z-icon>

      <input
        z-input
        placeholder="Enter your name"
        type="text"
        formControlName="name"
        zSize="default"
        class="w-full pl-8 text-secondary-foreground"
      />
    </div>

    @if (registerForm.get('name')?.touched && registerForm.get('name')?.invalid) {
      @if (registerForm.get('name')?.errors?.['required']) {
        <span class="text-destructive">name is required</span>
      } @else if (
        registerForm.get('name')?.errors?.['minlength'] ||
        registerForm.get('name')?.errors?.['maxlength']
      ) {
        <span class="text-destructive">name can be of 2-50 characters</span>
      } @else if (registerForm.get('name')?.errors?.['pattern']) {
        <span class="text-destructive">only letter and space is allowed</span>
      }
    }

    <!-- username -->
    <label for="" class="pb-2 pt-2 text-sm text-gray-400">Username</label>
    <div class="relative w-full">
      <z-icon
        zType="user"
        class="absolute text-gray-400 -translate-y-1/2 pointer-events-none left-1 top-1/2"
      ></z-icon>

      <input
        z-input
        placeholder="Enter your username"
        type="text"
        formControlName="username"
        zSize="default"
        class="w-full pl-8 text-secondary-foreground"
      />
    </div>

    @if (registerForm.get('username')?.touched && registerForm.get('username')?.invalid) {
      @if (registerForm.get('username')?.errors?.['required']) {
        <span class="text-destructive">username is required</span>
      } @else if (
        registerForm.get('username')?.errors?.['minlength'] ||
        registerForm.get('username')?.errors?.['maxlength']
      ) {
        <span class="text-destructive">username can be of 5-15 characters</span>
      } @else if (registerForm.get('username')?.errors?.['pattern']) {
        <span class="text-destructive">only letter,numbers and underscore is allow</span>
      }
    }

    <!-- Email -->
    <label for="" class="pb-2 pt-2 text-sm text-gray-400">Email</label>
    <div class="relative w-full">
      <z-icon
        zType="mail"
        class="absolute text-gray-400 -translate-y-1/2 pointer-events-none left-1 top-1/2"
      ></z-icon>

      <input
        z-input
        placeholder="Enter your email"
        type="email"
        formControlName="email"
        zSize="default"
        class="w-full pl-8 text-secondary-foreground"
      />
    </div>

    @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
      @if (registerForm.get('email')?.errors?.['required']) {
        <span class="text-destructive">email is required</span>
      } @else if (registerForm.get('email')?.errors?.['email']) {
        <span class="text-destructive">invalid email</span>
      }
    }

    <!-- password -->
    <label for="" class="pt-2 pb-2 text-sm text-gray-400">Password</label>
    <div class="relative w-full">
      <lucide-icon
        name="lock"
        class="absolute w-4 h-4 text-gray-400 -translate-y-1/2 pointer-events-none left-1 top-1/2"
      ></lucide-icon>
      <input
        z-input
        placeholder="Enter your password"
        type="password"
        formControlName="password"
        zSize="default"
        class="w-full pl-8 text-secondary-foreground"
      />
      <z-icon
        zType="eye"
        class="absolute text-gray-400 -translate-y-1/2 pointer-events-none right-1 top-1/2"
      ></z-icon>
    </div>

    @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
      @if (registerForm.get('password')?.errors?.['required']) {
        <span class="text-destructive">password is required</span>
      } @else if (
        registerForm.get('password')?.errors?.['minlength'] ||
        registerForm.get('password')?.errors?.['maxlength']
      ) {
        <span class="text-destructive">Password must be between 6 character to 20 character</span>
      }
    }

    <!-- Button -->

    <button z-button type="submit" class="mt-2">Register</button>

    <div class="flex items-center pt-3">
      <span class="flex-1 border-t border-muted-foreground/30"></span>
      <span class="px-3 text-xs font-medium text-muted-foreground"> Or continue with</span>
      <span class="flex-1 border-t border-muted-foreground/30"></span>
    </div>

    <div class="flex flex-row items-center justify-center gap-4 mt-2 text-foreground">
      <button z-button zType="outline">G Google</button>
      <button z-button zType="outline">G Github</button>
    </div>

    <div class="flex justify-center gap-1 pt-2 text-sm text-muted-foreground">
      <span>Already have an account?</span>
      <a [routerLink]="['/login']" class="font-medium underline text-primary"> Sign In </a>
    </div>
  </form>
</div>
