<div class="flex items-center justify-center h-screen bg-gray-100 dark:bg-gray-700">
  <div
    class="flex flex-row w-2/3 p-2 overflow-hidden bg-white shadow-sm rounded-2xl h-4/5 dark:bg-zinc-600"
  >
    <!-- left panal -->
    <div class="flex flex-col items-center justify-center md:w-1/2">
      <div class="w-full h-full">
        <!-- <header class="flex items-center justify-start pl-10 w-full h-[6%]">
          <z-icon zType="user" zSize="xl"></z-icon>
          <p class="font-bold">TeamSync</p>
        </header> -->

        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- right panal -->
    <div class="flex pt-8 pb-8 pl-8 md:w-1/2 bg-gray-50 dark:bg-zinc-500 rounded-2xl">
      <div class="h-full">
        <!-- image -->
        <div class="relative overflow-hidden rounded-lg h-96">
          <img
            src="/images/image.jpg"
            alt="image here"
            class="items-end justify-end w-full rounded-lg"
          />
          <div
            class="absolute inset-x-0 bottom-0 rounded-lg h-1/2 bg-linear-to-t from-white/70 to-transparent"
          ></div>
        </div>
        <!-- text area -->
        <div class="flex flex-col items-start justify-start w-full pt-5 pr-10">
          <h1 class="font-sans text-2xl font-bold">WELCOME TO OUR WEBSITE</h1>
          <p class="mt-2 text-sm font-normal text-gray-500 font-scan">
            This website is made in angular application using typescript,tailwind css , node
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
