<z-layout class="overflow-hidden rounded-md border h-screen">
  <z-sidebar
    [zWidth]="250"
    [zCollapsible]="true"
    [zCollapsed]="sidebarCollapsed()"
    [zCollapsedWidth]="60"
    (zCollapsedChange)="onCollapsedChange($event)"
    class="p-0! h-full"
  >
    <nav
      [class]="
        'flex h-full flex-col overflow-hidden ' +
        (sidebarCollapsed() ? 'gap-1 p-1 pt-4' : 'gap-4 p-4')
      "
    >
      <!-- <z-sidebar-group>
        @if (!sidebarCollapsed()) {
          <z-sidebar-group-label>Main</z-sidebar-group-label>
        }
        @for (item of mainMenuItems; track item.label) {
          <button
            type="button"
            z-button
            zType="ghost"
            [class]="sidebarCollapsed() ? 'justify-center' : 'justify-start'"
            [zTooltip]="sidebarCollapsed() ? item.label : ''"
            zPosition="right"
          >
            <z-icon [zType]="item.icon" [class]="sidebarCollapsed() ? '' : 'mr-2'" />
            @if (!sidebarCollapsed()) {
              <span>{{ item.label }}</span>
            }
          </button>
        }
      </z-sidebar-group> -->
      <z-sidebar-group class="h-8 flex flex-row items-center justify-start border-b gap-2">
        <!-- <z-avatar
          zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg"
          zAlt="User Avatar"
          zSize="sm"
        /> -->
        <z-icon zType="zap" class="w-6 h-6 text-primary ml-1 mr-1"></z-icon>
        <span
          *ngIf="!sidebarCollapsed()"
          class="text-xl font-bold bg-linear-to-r from-blue-500 via-purple-400 to-purple-500 bg-clip-text text-transparent"
        >
          TeamSync
        </span>
      </z-sidebar-group>
      <z-sidebar-group>
        <div
          z-menu
          [zMenuTriggerFor]="submenu"
          zPlacement="rightBottom"
          [class]="
            'hover:bg-accent flex cursor-pointer items-center justify-center gap-2 rounded-md ' +
            (sidebarCollapsed() ? 'm-2 p-0' : 'p-2')
          "
        >
          <z-avatar
            zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg"
            zAlt="Zard UI"
            zShape="rounded"
            zSize="sx"
          />

          @if (!sidebarCollapsed()) {
            <div>
              <span class="text-sm">My Workspace</span>
              <div class="text-xs">test&#64;zardui.com</div>
            </div>

            <z-icon zType="chevrons-up-down" class="ml-auto" />
          }
        </div>

        <ng-template #submenu>
          <div z-menu-content class="w-48">
            <button type="button" z-menu-item>
              <z-icon zType="layers" class="mr-2" />
              My Workspace
            </button>
            <button type="button" z-menu-item>
              <z-icon zType="plus" class="mr-2" />
              Add Workspace
            </button>
          </div>
        </ng-template>

        @for (item of workspaceMenuItems; track item.label) {
          @if (item.submenu) {
            <button
              type="button"
              z-button
              zType="ghost"
              z-menu
              [zMenuTriggerFor]="submenu"
              zPlacement="rightTop"
              [class]="sidebarCollapsed() ? 'justify-center' : 'justify-start'"
              [zTooltip]="sidebarCollapsed() ? item.label : null"
              zPosition="right"
            >
              <z-icon [zType]="item.icon" zSize="xl" [class]="sidebarCollapsed() ? '' : 'mr-2'" />
              @if (!sidebarCollapsed()) {
                <span class="flex-1 text-left">{{ item.label }}</span>
                <z-icon zType="chevron-right" />
              }
            </button>

            <ng-template #submenu>
              <div z-menu-content class="w-48">
                @for (subitem of item.submenu; track subitem.label) {
                  <button type="button" z-menu-item class="flex items-center gap-2">
                    <z-icon [zType]="subitem.icon" class="w-3 h-3" />
                    <span>{{ subitem.label }}</span>
                  </button>
                }
              </div>
            </ng-template>
          } @else {
            <button
              type="button"
              z-button
              zType="ghost"
              [class]="sidebarCollapsed() ? 'justify-center' : 'justify-start'"
              [zTooltip]="sidebarCollapsed() ? item.label : ''"
              zPosition="right"
            >
              <z-icon [zType]="item.icon" zSize="xl" [class]="sidebarCollapsed() ? '' : 'mr-2'" />
              @if (!sidebarCollapsed()) {
                <span>{{ item.label }}</span>
              }
            </button>
          }
        }
      </z-sidebar-group>

      <!-- <div class="mt-auto">
        <div
          z-menu
          [zMenuTriggerFor]="userMenu"
          zPlacement="rightBottom"
          [class]="
            'hover:bg-accent flex cursor-pointer items-center justify-center gap-2 rounded-md ' +
            (sidebarCollapsed() ? 'm-2 p-0' : 'p-2')
          "
        >
          <z-avatar zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg" zAlt="Zard UI" />

          @if (!sidebarCollapsed()) {
            <div>
              <span class="font-medium">zardui</span>
              <div class="text-xs">test&#64;zardui.com</div>
            </div>

            <z-icon zType="chevrons-up-down" class="ml-auto" />
          }
        </div>

        <ng-template #userMenu>
          <div z-menu-content class="w-48">
            <button type="button" z-menu-item>
              <z-icon zType="user" class="mr-2" />
              Profile
            </button>
            <button type="button" z-menu-item>
              <z-icon zType="settings" class="mr-2" />
              Settings
            </button>
            <z-divider zSpacing="sm" />
            <button type="button" z-menu-item>
              <z-icon zType="log-out" class="mr-2" />
              Logout
            </button>
          </div>
        </ng-template>
      </div> -->
    </nav>
  </z-sidebar>

  <!-- min-h-[200px] is just for the demo purpose to have a minimum height -->
  <z-content class="flex flex-col h-full overflow-hidden">
    <div class="flex items-center h-6 pb-3 px-4">
      <button
        type="button"
        z-button
        zType="ghost"
        zSize="sm"
        class="-ml-2"
        (click)="toggleSidebar()"
      >
        <z-icon zType="panel-left" />
      </button>

      <z-divider zOrientation="vertical" class="ml-2 h-4" />

      <z-breadcrumb zWrap="wrap" zAlign="start">
        <z-breadcrumb-item [routerLink]="['/docs/components/layout']">Dashboard</z-breadcrumb-item>
        <z-breadcrumb-item>
          <span aria-current="page">Components</span>
        </z-breadcrumb-item>
      </z-breadcrumb>
      <div class="ml-auto">
        <div
          z-menu
          [zMenuTriggerFor]="userMenu"
          zPlacement="bottomEnd"
          class="flex cursor-pointer items-center justify-center rounded-md hover:bg-accent"
        >
          <z-avatar
            zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg"
            zAlt="User Avatar"
            zSize="sm"
          />
        </div>
      </div>

      <ng-template #userMenu>
        <div z-menu-content class="w-48">
          <button type="button" z-menu-item class="flex items-center gap-2">
            <z-icon zType="user" />
            <span>Profile</span>
          </button>

          <button type="button" z-menu-item class="flex items-center gap-2">
            <z-icon zType="settings" />
            <span>Settings</span>
          </button>

          <z-divider zSpacing="sm" />

          <button type="button" z-menu-item class="flex items-center gap-2 text-red-500">
            <z-icon zType="log-out" />
            <span>Logout</span>
          </button>
        </div>
      </ng-template>
    </div>

    <div class="h-[calc(100vh-64px)] py-4">
      <z-skeleton class="h-full w-full" />
    </div>
    <!-- <z-skeleton class="h-16 w-full" /> -->
  </z-content>
</z-layout>
